@model Cart2_test.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";


    var commentList = new List<Cart2_test.Models.ProductComment>();
    using (Cart2_test.Models.CartContainer db = new Cart2_test.Models.CartContainer())
    {
        commentList = (from s in db.ProductComment
                       where s.ProductId == this.Model.Id
                       select s).ToList();
    }


}

<h2>商品資訊</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>

        </dt>

        <dd>
            <img src="@this.Model.ImageUrl" width="400" />
        </dd>

        <dt>
            名稱
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            售價
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>

    <dl class="dl-horizontal">
        @foreach (var comment in commentList)
        {
            <dt>@comment.UserId：</dt>
            <dd>@comment.Content  ( @comment.CreateDate )  </dd>
        }
    </dl>

    @using (Html.BeginForm("AddComment", "Home", FormMethod.Post, new { }))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.TextBox("Content")
        <input type="submit" value="留言" class="btn btn-default" />
    }


</div>
<p>
    @Html.ActionLink("回首頁", "Index", null, new { @class = "btn btn-default" })
</p>
